body{
    width: 960px;
    margin: 0 auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("../images/beanstalk.png");
}
.link1, .link2, .link3{
    float: right;
    color:#777777;
    background-color: white;
}
.topbar{
    background-color:   #ffffff;
    border: solid #777777;
    height: 100px;
    width: 100%;
    clear: over;
}
.bigheading{
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: white;
    width: 250px;
    padding: 20px;
    float: left;
    margin-left: 50px;
}
img{
    height: 400px;
    width: 300px;
    float: left;
    margin-right: 20px;

}
p{
    margin-left: 20px;
}